<section class="bg-light py-3 py-md-5">
  <div class="container projects-container">
    <div class="row justify-content-center">
      <!-- First Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/googleme.png" alt="Project 2" />
          <div class="card-body">
            <h5 class="card-title">Google Me React Project</h5>
            <p class="card-text">
              This React-based web application mimics the clean and familiar
              look of Google Search while integrating advanced AI capabilities
              to search and display relevant information about the user. Built
              with React for dynamic UI and enhanced with AI models on the
              backend, it provides a seamless, interactive experience for
              discovering personalized content like skills, projects, and more
            </p>
            <a
              href="https://jeffry-portfolio.web.app/"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>
      <!-- First Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/code-opt.png" alt="Project 2" />
          <div class="card-body">
            <h5 class="card-title">Code Optimizer Angular Project</h5>
            <p class="card-text">
              Code Optimizer Angular Project is a web application built with
              Angular that allows users to paste, optimize, format, and copy
              code efficiently, integrating FastAPI for backend processing and
              Material UI for a clean UI experience
            </p>
            <a
              href="https://angular-code-opt.web.app/"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>
      <!-- Second Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/chat-bot.png" alt="Project 1" />
          <div class="card-body">
            <h5 class="card-title">Chat Bot Integrated With AI</h5>
            <p class="card-text">
              This chatbot application, developed in Python, is a private
              repository due to confidential keys, making the source code
              inaccessible. However, its functionality is seamlessly integrated
              into my Angular application for use.
            </p>
            <a
              href="https://github.com/jeffry00777/Python-AI"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>
      <!-- Third Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/kafka.png" alt="Project 1" />
          <div class="card-body">
            <h5 class="card-title">Streaming_Real_Time_Data_kafka</h5>
            <p class="card-text">
              The objective of this project is to design and implement a
              real-time data streaming pipeline using Apache Kafka.
            </p>
            <a
              href="https://github.com/jeffry00777/Streaming_Real_Time_Data_kafka"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>

      <!-- Fourth Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/Angular.png" alt="Project 2" />
          <div class="card-body">
            <h5 class="card-title">Angular-Portfolio</h5>
            <p class="card-text">My Angular Portfolio project.</p>
            <a
              href="https://github.com/jeffry00777/Angular-Portfolio"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>

      <!-- Fifth Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/Amazon_job_tracker.png"
            alt="Project 5"
          />
          <div class="card-body">
            <h5 class="card-title">Amazon Job Tracker</h5>
            <p class="card-text">
              Engineered a sophisticated web automation tool using Selenium and
              BeautifulSoup that monitors Amazon's career portal for Software
              Engineering positions in Boston. This Python application
              automatically scrapes job listings, tracks application status, and
              delivers personalized email alerts for new opportunities, saving
              hours of manual job searching while ensuring I never miss relevant
              openings..
            </p>
            <a
              href="https://github.com/jeffry00777/AmazonJobTracker"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>

      <!-- Six Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/R-programming.png"
            alt="Project 3"
          />
          <div class="card-body">
            <h5 class="card-title">
              Gapminder Data Visualization and Uncertainty Analysis
            </h5>
            <p class="card-text">
              This project explores data visualization techniques to represent
              uncertainty in global health and economic trends using the
              Gapminder dataset.
            </p>
            <a
              href="https://github.com/jeffry00777/Gapminder"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>

      <!-- Seven Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/python.png" alt="Project 4" />
          <div class="card-body">
            <h5 class="card-title">Optimizing Orders in Restaurant</h5>
            <p class="card-text">
              A Python-based college project focused on optimizing restaurant
              order management. It enhances order processing efficiency,
              minimizes wait times, and improves overall service flow using
              data-driven strategies.
            </p>
            <a
              href="https://github.com/jeffry00777/Optimizing-Orders-in-Restaurant"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>
      <!-- Eight Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/gender-inequality.png"
            alt="Project 1"
          />
          <div class="card-body">
            <h5 class="card-title">Forecasting-of-Gender-Inequality-Trends</h5>
            <p class="card-text">
              The objective of this project is Data-Driven Analysis and
              Forecasting of Gender Inequality Trends
            </p>
            <a
              href="https://github.com/jeffry00777/Forecasting-of-Gender-Inequality-Trends"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>
      <!-- Nine Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/cron-job.png" alt="Project 2" />
          <div class="card-body">
            <h5 class="card-title">Cron job (Scheduler)</h5>
            <p class="card-text">
              This project is a cron job (scheduler) that periodically hits the
              backend API to keep it awake, as it is deployed in a free
              environment. The repository is private since it contains a list of
              backend APIs.
            </p>
            <a
              href="https://github.com/jeffry00777/cron_job"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>
      <!-- Add more projects as needed -->
      <!-- Ten Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/Job Tracker.png"
            alt="Project 10"
          />
          <div class="card-body">
            <h5 class="card-title">Fidelity Job Tracker</h5>
            <p class="card-text">
              A Python automation tool that monitors Fidelity's career portal
              for software engineering opportunities in Massachusetts. This
              application leverages Selenium and BeautifulSoup to scrape job
              listings posted within the last 7 days, maintains a record of
              previously viewed positions, and delivers personalized email
              notifications with job details and direct application links.
              Perfect for streamlining your job search process and ensuring you
              never miss relevant openings at Fidelity.
            </p>
            <a
              href="https://github.com/jeffry00777/Fidelity-Automated-Job-Tracker"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>
      <!-- Eleven Card -->
      <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/Job Tracker.png"
            alt="Project 11"
          />
          <div class="card-body">
            <h5 class="card-title">JPMorgan Chase's Job Tracker</h5>
            <p class="card-text">
              An automated Python application that monitors JPMorgan Chase's
              career portal for software engineering opportunities. This tool
              leverages the company's API to fetch job listings posted within
              the last 7 days, efficiently tracks previously viewed positions,
              and delivers personalized email notifications with comprehensive
              job details. Built with a focus on performance using the Requests
              library, this application streamlines your job search process by
              ensuring you never miss relevant software engineering openings at
              JPMorgan Chase.
            </p>
            <a
              href="https://github.com/jeffry00777/JPMorgan-Chase-Job-Tracker"
              class="card-link"
              target="_blank"
              >View Project</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
