<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" [class.scrolled]="isScrolled">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link fw-bold" [routerLink]="'/'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" [routerLink]="'/work-experience'"
          >My Experience</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" [routerLink]="'/my-projects'"
          >My Projects</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" [routerLink]="'/get-to-know-me'"
          >Get to Know Me</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" [routerLink]="'/contact'">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- This will dynamically load the components -->
<router-outlet></router-outlet>
