<section id="work-experience" class="work-experience">
  <h1>Work Experience</h1>

  <div class="container">
    <div class="main-timeline">
      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">3 Years</span>
              <span class="year">2024</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">SOFTWARE ENGINEER - ORION INNOVATION PVT LTD</h5>
          <p class="description">
            As a Software Engineer, I modernized legacy systems using Spring
            Boot, Node.js, and AngularJS, slashing downtime by 30% and boosting
            performance by 25%. Spearheaded the deployment of 15+ microservices
            and ELK stack integration, cutting troubleshooting time by 35% while
            achieving 95% on-time project delivery.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">1 Years</span>
              <span class="year">2021</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">Software Developer - KLOUDONE TECHNOLOGIES</h5>
          <p class="description">
            As a Software Developer, I modernized legacy systems, enhanced API
            integration, and streamlined workflows using Git and JIRA.
            Collaborated with cross-functional teams to improve code quality,
            resolve technical debt, and deliver optimized solutions for the
            Kloud Learn application.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">2 Years</span>
              <span class="year">2019</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">
            ORACLE DATABASE ENGINEER - INSPAC SOLUTIONS PTE LTD - SINGAPORE
          </h5>
          <p class="description">
            Spearheaded database optimization and migration initiatives,
            designing streamlined procedures and leading transitions to modern
            systems like MongoDB. Managed critical database operations with
            precision, ensuring data integrity and scalability while enhancing
            system flexibility.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">3 Years</span>
              <span class="year">2017</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">
            PRODUCTION MANAGER & SAFETY ENGINEER - ANNAI CONSTRUCTION PTE LTD
          </h5>
          <p class="description">
            Oversaw production operations and enforced stringent safety
            protocols to ensure compliance with industry standards. Optimized
            workflows and risk mitigation strategies, fostering a culture of
            efficiency and workplace safety across teams.
          </p>
        </div>
      </div>
      <!-- end experience section-->
    </div>
  </div>
</section>
